In [20]:
import pandas as pd
data = pd.read_csv('FAANGS.csv')
import matplotlib.pyplot as plt
import xarray as xr

%matplotlib inline

In [21]:
data.head()

,PERMNO,date,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,ALTPRC,SPREAD,ALTPRCDT,RETX
0,10107,19860228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.00,NaN,19860313.0,NaN
1,10107,19860331,26.00,29.50,27.50,64786.0,C,27.25,27.50,27.50,NaN,19860331.0,C
2,10107,19860430,27.25,34.00,32.25,19056.0,0.172727,31.75,32.25,32.25,NaN,19860430.0,0.172727
3,10107,19860530,31.00,34.75,34.75,9810.0,0.077519,34.75,35.00,34.75,NaN,19860530.0,0.077519
4,10107,19860630,29.75,34.25,30.75,10238.0,-0.115108,30.50,30.75,30.75,NaN,19860630.0,-0.115108

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2210 entries, 0 to 2209
Data columns (total 13 columns):
PERMNO      2210 non-null int64
date        2210 non-null int64
BIDLO       2202 non-null float64
ASKHI       2202 non-null float64
PRC         2200 non-null float64
VOL         2178 non-null float64
RET         2200 non-null object
BID         1512 non-null float64
ASK         1512 non-null float64
ALTPRC      2209 non-null float64
SPREAD      30 non-null float64
ALTPRCDT    2209 non-null float64
RETX        2200 non-null object
dtypes: float64(9), int64(2), object(2)
memory usage: 224.5+ KB

In [23]:
data.set_index('PERMNO',inplace=True)

In [24]:
data.head()

,date,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,ALTPRC,SPREAD,ALTPRCDT,RETX
PERMNO,,,,,,,,,,,,
10107,19860228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.00,NaN,19860313.0,NaN
10107,19860331,26.00,29.50,27.50,64786.0,C,27.25,27.50,27.50,NaN,19860331.0,C
10107,19860430,27.25,34.00,32.25,19056.0,0.172727,31.75,32.25,32.25,NaN,19860430.0,0.172727
10107,19860530,31.00,34.75,34.75,9810.0,0.077519,34.75,35.00,34.75,NaN,19860530.0,0.077519
10107,19860630,29.75,34.25,30.75,10238.0,-0.115108,30.50,30.75,30.75,NaN,19860630.0,-0.115108

In [25]:
#pseudo code
# for year = 1946 to 2017 
# from  data, set mktcap = mkt cap Jan for that year
# sort the mktcap 
#divide into ten groups
# for the next 12 months 
# R1t = Sum of weights t-1 * RiT / Sum of weights

In [26]:
data2 = pd.read_sas('Compustat_crsp.sas7bdat', format= 'sas7bdat', index=None, encoding=None, chunksize=None, iterator=False)

KeyboardInterrupt:

In [ ]:
data2.head()

In [ ]:
data2.info()

In [ ]:
data2.columns

In [ ]:
data2.drop(['ADD2','ADD3','ADD4','ADDZIP'],axis=1)

In [ ]:
data2 = pd.read_sas('CRSP.sas7bdat', format= 'sas7bdat', index='DATE', encoding=None, chunksize=None, iterator=False)

In [ ]:
data2.head()

In [ ]:
data2_transposed = data2.T

In [ ]:
#TO CHANGE THE ORDER OF COLUMNS
#cols = list(data2.columns.values) #Make a list of all of the columns in the df
#cols.pop(cols.index('b')) #Remove b from list
#cols.pop(cols.index('x')) #Remove x from list
#df = df[cols+['b','x']] #Create new dataframe with columns in the order you want

In [ ]:
data2.set_index(['PERMNO','DATE'], drop=False)

In [ ]:
data2[10000.0]

In [15]:
data2.head()

,PERMNO,DATE,CUSIP,COMNAM,TICKER,PRC,ALTPRC,ALTPRCDT,ASKHI,BIDLO,BID,ASK,VOL,RET,SPREAD,RETX,SHROUT,SHRENDDT,SHRFLG
0,10000.0,1985-12-31,b'68391610',NaN,NaN,NaN,-2.5625,1986-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,10000.0,1986-01-31,b'68391610',b'OPTIMUM MANUFACTURING INC',b'OMFGA',-4.3750,-4.3750,1986-01-31,-4.4375,-2.50,NaN,NaN,1771.0,NaN,0.250,NaN,3680.0,1986-04-29,0.0
2,10000.0,1986-02-28,b'68391610',b'OPTIMUM MANUFACTURING INC',b'OMFGA',-3.2500,-3.2500,1986-02-28,-4.3750,-3.25,NaN,NaN,828.0,-0.257143,0.250,-0.257143,3680.0,NaT,NaN
3,10000.0,1986-03-31,b'68391610',b'OPTIMUM MANUFACTURING INC',b'OMFGA',-4.4375,-4.4375,1986-03-31,-4.4375,-3.25,NaN,NaN,1078.0,0.365385,0.125,0.365385,3680.0,NaT,0.0
4,10000.0,1986-04-30,b'68391610',b'OPTIMUM MANUFACTURING INC',b'OMFGA',-4.0000,-4.0000,1986-04-30,-4.3125,-4.00,NaN,NaN,957.0,-0.098592,0.250,-0.098592,3793.0,1986-07-30,0.0

In [16]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4469038 entries, 0 to 4469037
Data columns (total 19 columns):
PERMNO      float64
DATE        datetime64[ns]
CUSIP       object
COMNAM      object
TICKER      object
PRC         float64
ALTPRC      float64
ALTPRCDT    datetime64[ns]
ASKHI       float64
BIDLO       float64
BID         float64
ASK         float64
VOL         float64
RET         float64
SPREAD      float64
RETX        float64
SHROUT      float64
SHRENDDT    datetime64[ns]
SHRFLG      float64
dtypes: datetime64[ns](3), float64(13), object(3)
memory usage: 647.8+ MB

In [17]:
#import datetime
#xr.Dataset({'DATE':datetime.datetime(2000,1,1)})
# this is an example to turn an imported datetime object into an xarray object.

<xarray.Dataset>
Dimensions:   (index: 4469038)
Coordinates:
  * index     (index) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 ...
Data variables:
    PERMNO    (index) float64 1e+04 1e+04 1e+04 1e+04 1e+04 1e+04 1e+04 ...
    DATE      (index) datetime64[ns] 1985-12-31 1986-01-31 1986-02-28 ...
    CUSIP     (index) object b'68391610' b'68391610' b'68391610' b'68391610' ...
    COMNAM    (index) object nan b'OPTIMUM MANUFACTURING INC' ...
    TICKER    (index) object nan b'OMFGA' b'OMFGA' b'OMFGA' b'OMFGA' ...
    PRC       (index) float64 nan -4.375 -3.25 -4.438 -4.0 -3.109 -3.094 ...
    ALTPRC    (index) float64 -2.562 -4.375 -3.25 -4.438 -4.0 -3.109 -3.094 ...
    ALTPRCDT  (index) datetime64[ns] 1986-01-07 1986-01-31 1986-02-28 ...
    ASKHI     (index) float64 nan -4.438 -4.375 -4.438 -4.312 -4.219 -3.297 ...
    BIDLO     (index) float64 nan -2.5 -3.25 -3.25 -4.0 -3.062 -2.906 -2.594 ...
    BID       (index) float64 nan nan nan nan nan nan nan nan nan nan nan ...
    ASK       (index) float64 nan nan nan nan nan nan nan nan nan nan nan ...
    VOL       (index) float64 nan 1.771e+03 828.0 1.078e+03 957.0 1.074e+03 ...
    RET       (index) float64 nan nan -0.2571 0.3654 -0.09859 -0.2227 ...
    SPREAD    (index) float64 nan 0.25 0.25 0.125 0.25 0.09375 0.0625 0.0625 ...
    RETX      (index) float64 nan nan -0.2571 0.3654 -0.09859 -0.2227 ...
    SHROUT    (index) float64 nan 3.68e+03 3.68e+03 3.68e+03 3.793e+03 ...
    SHRENDDT  (index) datetime64[ns] NaT 1986-04-29 NaT NaT 1986-07-30 NaT ...
    SHRFLG    (index) float64 nan 0.0 nan 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 ...